.logement-item-cover {
	height: 340px;
	width: 340px;
	left: 0px;
	top: 0px;
	border-radius: 10px;
	object-fit: cover;
	filter:brightness(0.8);
}

.linear{
	background: linear-gradient(45deg, red, blue);
}

.logementlien {
display: contents;
}

.logement-title{
    font-size: 20px;
    color: white;
    left: 20px;
    top: -78px;
    width: 235px;
    height: 52px;
    position: relative;

}

.logement-item {

	width: 340px;
	border-radius: 10px;
	height: 340px;
	list-style-type: none;

}

@media screen and (max-width: 1260px) {
	.logement-item{width: 100%;}
	.logement-item-cover{width: 100%;}
}