/*



.imagecenter {
    display: block;
    margin-left: 102px;
    margin-right: auto;
    width: 1240px;
    border-radius: 25px;
    height: 415px;
    margin-top: 50px;
}



.tags {
    margin-top: 25px;
  
}


.boxname {
      width: 100%; 
     position: relative;
     margin-left: 1215px;
     bottom: 116px;
 
}

.boxinfo{
    margin-bottom: 20px;
}



 


.marginbox {
    margin-left: 111px;
}


 

.star {
    position: absolute;
    top: 678px;
    right: 160px;
}

.marginbox{
    margin-left: 154px;
}

.star {
    fill: #151212;

  
}


.totheleft {
    margin-left: -55px;

}


*/

.titrelogement {
  font-size: 36px;
  font-weight: 500;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: left;
  color: #ff6060;
  margin-top: 25px;
}

.location {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #ff6060;
  margin-bottom: 25px;
}

.hostname {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: right;
  width: 100px;
  color: #ff6060;
  display: flex;
align-items: flex-end;
text-align: right;
position: relative;
    top: -4px;
    right: -88px;
    overflow-wrap: anywhere;
}

.host {
  height: 64px;
  width: 64px;
  border-radius: 64px;
}

.marginbox {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}

.boxname {
  display: flex;
  gap: 92px;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  bottom: 125px;
}

.star {
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 108px;
  gap: 6px;
}

.info {
  display: flex;
  justify-content: space-around;
  column-gap: 16px;

  max-width: 1240px;
  margin: 0 auto;

  position: relative;
  bottom: 50px;
}

.bodycenter {
  padding: 0;
  margin: 0;
  height: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.totheleft {
  width: 100%;
}

.titre-dropdown {
  font-size: 24px;
}

@media screen and (max-width: 1260px) {
  .boxname {
    bottom: -13px;
 
  }
  .description-dropdown {
    font-size: 12px;
  }

  .info {
    width: 95%;
    margin-top: 50px;
  }
  .star {
    display: flex;
    justify-content: flex-start;
    position: relative;
    bottom: 40px;
    height: 20px;
    width: 25px;
    left: 1.5px;
    top: -34.5px;
    border-radius: 0px;
  }

  .titrelogement {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 142.6%;
  }

  .location {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 142.6%;
  }

  .titre-dropdown {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 142.6%;
    height: 19px;
    width: 77px;
    left: 11.51202392578125px;
    top: 5.4827880859375px;
    border-radius: nullpx;
  }

  .header-dropdown {
    height: 29.931270599365234px;
    width: 100%;
    left: 0px;
    top: 0px;
    border-radius: 5px;
    margin: 0;
  }
  .fleche-dropdown {
    height: 9px;
    width: 100%;
  }

  .marginbox {
  
    width: 95%;
  }

  .styleimage {
    width: 95%;
  }
}

.dropdwn-Description {
  margin: 0;
}

@media screen and (max-width: 700px) {
  .info {
    gap: 24px;
    flex-wrap: wrap;
  }
  .hostname {
    font-size: 12px;
    line-height: normal;
    position: relative;
    top: -3px;
    right: -49px;
    width: 74px;
  }

  .host {
    height: 32px;
    width: 32px;
    left: 103.5px;
    top: 0.5px;
    border-radius: 32px;
  }
  .star {
    height: 15px;
    margin-top: 19px;
    margin-bottom: 64px;
    top: -24.5px;
  }

  .boxname {
    bottom: -25px;
    gap: 55px;
    right: 13px;
  }

}
