.lmj-banner {
	color: black;
	text-align: right;
	padding: 32px;

    display: flex;
    justify-content: space-between;
	flex-direction: row;
	align-items: center;
}

.lmj-title {
	padding-left: 32px;
	color: #FF6060;
	font-weight: 500;
font-size: 24px;
}

.lmj-logo {
	height: 68;
	width: 210.32;
	
}