.lmj-banner {
	color: black;
    text-align: right;
    display: flex;
    /* gap: 9%; */
    /* flex-direction: row; */
    align-items: center;
    /* margin-left: 9%; */
    /* margin-right: 7%; */
    justify-content: space-between;
    /* width: 1295px; */
    margin-left: 9%;
    margin-right: 7%;
	margin-top: 40px;

}

 

.lmj-logo {
	height: 600;
	width: 210.32;
	
}

@media screen and (max-width: 1000px) {
	.lmj-banner {
		padding: 0;
        margin-top: 20px;
        margin: 5%;
	}

    .lmj-logo{
        width: 40%;
        height: 47px;
    }

  

   
}