.ImgHome{
    position: absolute;
    width: 1277px;
    height: 223px;
    left: 100px;
    top: 171px;
    
    filter : brightness(50%);
    mix-blend-mode: darken;
 
    border-radius: 25px;
}

.image-text{
  margin-top: 122px;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  opacity: 0.8;
  color: #ffff;
  display: flex;
  height: 134px;
  width: 1240px;
  left: 373px;
  top: 249px;
  border-radius: nullpx;
  align-items: center;
  justify-content: center;
  margin-left: 100px;

}

.fleximage{
  display: flex;
  align-items: center;
}