.ImgHome{
 
    width: 1240px;
    height: 240px;
    left: 100px;
    top: 171px;
    
    filter : brightness(50%);
    mix-blend-mode: darken;
 margin-top: 50px;
    border-radius: 25px;
}
.bright{
  filter : none;
  opacity: 0.9;
}
.image-text{
 
  color:#ffff;

  position: absolute;
  top: 40%;

  width: 100%;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 142.6%;

}

.fleximage{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  margin-bottom: 0;
  border: 0;
  border-color: transparent;
}

@media screen and (max-width: 1000px) {
.ImgHome  {
  width: 95%;
  height: 111px;
  display: flex;
  left: 0px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-top: 20px;

  
}

.image-text{
  margin: 0;
  font-size: 24px;
  padding: 5px 21px;
  width: 340px



}

}