 @import url('https://fonts.googleapis.com/css2?family=Roboto&family=Montserrat&family=Shrikhand&display=swap');
body {
  margin: 0;
 
  font-family: 'Montserrat', sans-serif;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root {
  height: 100%;

}

 
 

#root {
 display: flex;
 flex-direction: column;
}


