.erreurbig {
  height: 263px;
  width: 100%;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 288px;
  line-height: 142.6%;
  /* or 411px */

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  color: #ff6060;
}

.texte {
  color: #ff6060;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 500;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  /* left: 20.49%; */
  /* right: 18.96%; */
  top: 450px;
  /* bottom: 35.84%; */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 142.6%;
  display: flex;
  color: #ff6060;
  width: 100%;
  justify-content: center;
  color: #ff6060;
}

.comeback {
  /* width: 100%; */
  text-decoration: none;
  color: #ff6060;

  position: absolute;
  top: 563px;

  margin-left: 45%;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  align-items: flex-end;
  text-decoration-line: underline;
  justify-content: center;
}


 

@media screen and (max-width: 1000px) {
  .erreurbig {
    font-family: Montserrat;
    font-size: 96px;
    font-weight: 700;
    line-height: 137px;
    letter-spacing: 0em;
    text-align: center;
  }

  .texte {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    width: 100%;
    text-align: center;
    margin:0  }

  .comeback {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    width: 100%;
    margin: 0;
  }
}
