.lmj-plant-item-cover {
	height: 340px;
	width: 340px;
	left: 0px;
	top: 0px;
	border-radius: 10px;
	
	
}

.logementlien {
display: contents;
}

.logement-title{
	position: relative;
	font-size: 20px;
    color: white;
	left: 20px;
	top: -68px;
    width: 300px;
    height: 52px;
    position: relative;

}

.lmj-plant-item {

	width: 340px;
	border-radius: 10px;
	height: 340px;
	list-style-type: none;

}