.lmj-plant-list {
	list-style-type: none;
	top: 100px;
	display: flex;
	flex-wrap: wrap;
	
	gap: 60px;
	background: #F7F7F7;
border-radius: 25px;

padding-top: 56px;
padding-right: 50px;
padding-left: 50px;
justify-content: center;

}

.images-locations{
display: flex;
margin-top: 90px;
padding: 90px;

}