.lmj-plant-list {

    background: #F7F7F7;
    margin-left: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 41px;
    margin-top: 126px;
    padding-top: 56px;
    padding-bottom: 56px;
    margin-left: 99px;
    /* height: 1247px; */
    width: 1240px;
    left: 0px;
    top: 0px;
    border-radius: 25px;
}


.images-locations{
display: flex;
margin-top: 90px;
padding: 90px;

}