.tag {
    background-color: #FF6060;
    border-radius: 10px;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    margin: auto 10px;
    min-width: 115px;
    padding: 5px 15px;   
    text-align: center; 
}
.tag:first-of-type {
    margin-left: 0;
}

/* media tag display inline */

@media screen and (max-width: 1000px) {

    .tag{
       
        font-size: 10px;
        margin: auto 2px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }
}