.logement-list {
  background: #f7f7f7;
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  gap: 41px;
  max-width: 1300px;
  width: 1240px;
  margin: 47px auto 0;
  left: 0px;
  top: 0px;

  border-radius: 25px;
  /* border-radius: 25px; */
  /* margin: 9%; */
  padding: 54px 0px 54px 0px;
  justify-content: center;
  margin-bottom: 75px;
}


.images-locations {
  display: flex;
  margin-top: 90px;
  padding: 90px;
}

@media screen and (max-width: 1260px) {
  .logement-list {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    padding-inline-start: 0px;
    background-color: transparent;
    padding: 9px 0px 54px 0px;
    gap: 25px;
  }
}
