.Navbar {
  color: #ff6060;
  margin: auto 25px;
  text-decoration: none;

  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: right;


}
@media screen and (max-width: 700px) {
  .Navbar {
    height: 17px;
    width: 100px;
    left: 195px;
    top: 18px;
    border-radius: nullpx;

    font-size: smaller;
    text-transform: uppercase;
    margin: 0;
  }
nav {
  display: flex;
}

}
