.Navbar {
  color: #ff6060;
  margin: auto 25px;
  text-decoration: none;

  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: right;
}
.Navbar:hover {
  color: #000000;
}

.Navbar-active {
  color: #ff6060;
  text-decoration: none;

  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: right;
}

.Navbar:hover {
  text-decoration: underline;
}
@media screen and (max-width: 1000px) {
  .Navbar {
    height: 17px;
    width: 78px;
    left: 195px;
    top: 18px;
    border-radius: nullpx;
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
  }
  .navlink {
    display: flex;
    gap: 20px;


  }
}
